doctype html
html
  head
    style.
      .image-container {
        display: flex;
       justify-content: space-between;

      }
      .image-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }
    link(rel="stylesheet", href="/styles/main.css")
    title= "Studio Equipment"
  body
    h1(style="text-align: center")= "Studio Equipment"
    p Welcome to our Instruments page, where innovation meets tradition. 
    p Discover an extensive range of high-quality synthesizers, mic machines, 
    p and keyboards designed to elevate your sound to professional standards. 
    p Whether you're a seasoned musician or just starting out, our carefully 
    p curated selection ensures you'll find the perfect instrument to create your next masterpiece.
  .image-container
    .image-item 
      img(src="/images/akaimpcx.jpg", alt="akai mpcx ")
      p $ 2,4990 FREE delivery July 19 - 22. 
      p Details Or fastest delivery 
      p July 18 - 19. Details
    .image-item 
      img(src="/images/hammondskx.jpg", alt="hammond")
      p $ 3,995 FREE delivery July 19 - 22.
      p Details Or fastest delivery 
      p July 18 - 19. Details
    .image-item 
      img(src="/images/dx7.jpg"  alt="dx7")
      p  $1,500.00 FREE Returns FREE delivery July 22 - 24. 
      p Details Or fastest delivery 
      p Tomorrow, July 17. Order within 23 mins. Details

