doctype html
html
  head
    style.
      .image-container {
        display: flex;
       justify-content: space-between;

      }
      .image-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }
    link(rel="stylesheet", href="/styles/main.css")
    title= "Studio Equipment"
  body
    h1(style="text-align: center")= "Studio Equipment"
    p Welcome to our Studio Equipment page, where cutting-edge technology meets timeless vintage gear. 
    p Explore our selection of state-of-the-art studio equipment designed to deliver unparalleled sound quality. 
    p Rediscover the classics with our carefully curated vintage collection, offering the unique warmth and character only analog      equipment can provide.
  .image-container
    .image-item 
      img(src="/images/la2acomp.jpg", alt="la2a compressor")
      p $4,699.00 FREE delivery July 19 - 22. 
      p Details Or fastest delivery 
      p July 18 - 19. Details
    .image-item 
      img(src="/images/neve1073preamp.jpg" height= "50%" width= "60%", alt="neve1073 preamp")
      p $ 3,995 FREE delivery July 19 - 22.
      p Details Or fastest delivery 
      p July 18 - 19. Details
    .image-item 
      img(src="images/avalonvt_737sp.jpg" height= "50%" width= "60%", alt="neve1073 preamp")
      p  $3,866.00 FREE Returns FREE delivery July 22 - 24. 
      p Details Or fastest delivery 
      p Tomorrow, July 17. Order within 23 mins. Details

